<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скачайте приложение ECG Mob</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Установка приложения ECG Mob</h3>

<p>Чтобы сделать ЭКГ и отправить результат врачу, Вам понадобится мобильное приложение ECG Mob. Скачайте его из магазина по ссылке ниже, а затем снова нажмите на кнопку "Сделать ЭКГ" в Medsenger.</p>

<p><a href="https://apps.apple.com/ru/app/ecg-mob/id1406511388" class="btn btn-lg btn-success">iOS</a></p>
<p><a href="https://play.google.com/store/apps/details?id=ru.bioss.ecgmob&hl=ru&gl=US">Android</a></p>
</body>
</html>