<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сердечко: настройка канала консультирования</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h4 style="margin-top: 15px; margin-bottom: 15px;">Сердечко: настройка канала консультирования</h4>

    <p>Данный интеллектуальный агент умеет автоматически забирать письма из почтового ящика <i>cardio@medsenger.ru</i> и перенаправлять их в ленту врача, если в теме письма присутствует идентификатор пациента (СНИЛС).</p>

    <form method="POST">
        <div class="form-group">
            <strong>Идентификатор пациента (обычно - СНИЛС, указывается в настройках мобильного приложения):</strong>
            <input type="text" name="code" {% if contract.code != None %} value="{{contract.code}}" {%endif%} class="form-control"/>
        </div>

        <div class="form-group">
            <button class="btn-lg btn btn-success">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>
